/* Establecer alineación de texto para toda la aplicación */
.App, .comentarios, .text-white {
  text-align: center;
}

/* Establecer color de enlace */
.App-link {
  color: #61dafb;
}

/* Contenedor del formulario */
/* .form_container {
  width: 35%;
} */

/* Media queries para ajustar el tamaño del formulario en diferentes tamaños de pantalla */
/* @media screen and (max-width: 1000px), (max-width: 700px) {
  .form_container {
    width: 40%;
  }
} */

/* .custom-centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */


/* Contenedor de la página de error 404 */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para la barra de búsqueda */
.search-bar-container {
  position: relative;
}

.search-input {
  width: 200px; 
}

.text-left {
  text-align: left !important;
}

/*estilos equipo proyecto*/

.logoTeam{
  border-radius: 50%;
  height: 210px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-img-equipo {
  width: 100%;
  height: 260px;
  object-fit: contain;
}

.card-body-equipo {
 
}

.nav-link:hover,.NavDropdown .dropdown-menu .dropdown-item {
  color: #007bff !important; 
}

.nav-link:hover .mb-1,.NavDropdown .dropdown-menu .dropdown-item:hover {
  transform: scale(1.2) rotate(360deg); 
  transition: transform 0.4s ease; 
}

.custom-card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


